body {
  margin: 0;
  width: 100vw;
}

.container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 100vh;
  grid-template-areas:
    "l-page"
    "nav"
    "team-p"
    "code"
    "footer";

  .landing-page {
    grid-area: l-page;
  }
  nav {
    grid-area: nav;
    background: rgba(0, 0, 0, 0.5);
    height: 80px;
    display: grid;
    grid-auto-flow: column;
    padding-left: 20px;
    padding-right: 20px;
    color: white;
    position: sticky;
    top: 0;
  }

  .team-name {
    display: grid;
    justify-content: start;
    align-content: center;
  }

  .links {
    display: grid;
    justify-content: end;
    grid-auto-flow: column;
    align-content: center;
    gap: 2rem;
  }

  .links a {
    text-decoration: none;
    color: white;
    transition: ease-in-out 0.3s;
    &:hover {
      transform: scale(1.3);
    }
  }

  .team-p {
    grid-area: team-p;
  }
  .visual-code {
    grid-area: code;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    .code-img {
      background-color: pink;
      height: 100vh;
      width: 50%;
    }
    .fetch-result {
      background-color: lightblue;
      height: 100vh;
      width: 50%;
    }
  }
  footer {
    grid-area: footer;
    background: rgba(0, 0, 0, 0.4);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    position: sticky;
    bottom: 0;
    a {
      color: white;
      transition: all ease-in-out 0.5s;
      &:hover {
        transform: scale(1.4);
      }
    }
  }
}
